@import 'App.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lh64 {
  line-height: 64px;
}

.fr {
  float: right;
}

.mr10 {
  margin-right: 10px;
}

#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
}

.main-wrapper {
  position: relative;
  padding: 64px 0 0;
  background: #fff;
}

#logo {
  float: left;
  height: 64px;
  padding-left: 40px;
  overflow: hidden;
  line-height: 64px;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.main-menu:hover .main-menu-inner ,.resText:hover{
  overflow-y: auto;
}

.main-menu-inner {
  max-height: calc(100vh - 64px);
  overflow: hidden;
  padding-top: 16px;
}

.main-content {
  max-height: calc(100vh - 64px);
  overflow-y: auto;
  padding-top: 16px;
}

.ant-menu-item>a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.resText {
  max-height: calc(100vh - 160px) !important;
  overflow: hidden;
}

